* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

.name {
  font-size: larger;
  margin: 0;
}

.rating {
  font-size: small;
  margin: 0;
}

.gameslist {
  padding: 0;
  list-style-type: none;
}

.gameslist-item {
  background-color: #f2f2f2;
  background: linear-gradient(to right, #d8d8d8 55%, #f4f3f2);
  border-radius: 5px;
  box-shadow: 0 0px 5px #e6dfdd;
  margin: 15px auto;
  width: 80vw;
  padding: 15px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

button {
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}

button:hover {
  background-color: #ccc9c9;
}

footer {
  padding: 20px;
  background-color: #26032b;
  margin-top: auto;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
  color: #8e44ad;
  font-weight: bolder;
}

@media screen and (min-width: 800px) {
  .gameslist-item {
    width: 40vw;
  }
}
